<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <title>Page Title</title>
</head>

<body>
    <div id="app">
        {{message}}
        <ul>
            <!-- <li v-for="book in books">{{book}}</li> -->
            <book-view v-for="book in bookOne" v-bind:book="book" v-bind:key="book.id"></book-view>
            <book-view v-if="btnStatus" v-for="book in bookTwo" v-bind:book="book" v-bind:key="book.id"></book-view>
        </ul>
        <button v-on:click="hideBook">Test</button>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="clock.js"></script> -->
    <script src="app.js"></script>
</body>

</html>